@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
body {
  background: #cccccc;
}
#stopwatch {
  background: #000000;
  color: green;
  padding: 5px 0;
  font-family: Iceland cursive;
  font-size: 20px;
}
